@import "tailwindcss";

.custom-scrollbar {
  scrollbar-width: thin;              
  scrollbar-color: #555 #333;        
}


.custom-scrollbar::-webkit-scrollbar {
  width: 8px;                         
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;                   
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #555;             
  border-radius: 4px;                 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #777;             
}